$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  tab: 'screen and (min-width: 768px)',
  pc: 'screen and (min-width: 1025px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
   @content;
  }
}

body{
    margin: 0;
    background-color: #57D9EE;
}

.conteiner{
    @include mq(pc){
        width: 90%;
        margin: 0 auto;
    }
    
}

h2{
    @include mq(pc){
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
   
}

h3{
    @include mq(pc){
        font-size: 42px;
    }
    
}

li{
    list-style: none;
    color: #000;
}

a{
    text-decoration: none;
}

.ham{
    @include mq(pc){
        display: none;
    }
    @include mq(tab){
        display: none;
    }
    @include mq(sp){
        display: block;
    }
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #FFF3D2;
    border: 6px solid black;
    &-logo{
        margin-left: 5%;
        width: 10%;
        img{
            width: 100%;
        }
    }
    &-menu{
        width: 90%;
        display: flex;
        li{
            margin-left: 20px;
            a{
                text-decoration:underline #FF00C7;
                color: #000;
                font-size: 24px;
                font-weight: 600;
            }
        }
    }
}

// ファーストビュー
.fv{
    margin-top: 60px;
    background-color: #FFF3D2;
    border-left: 5px solid black;
    border-right: 5px solid black;
    padding-top: 120px;
    padding-bottom: 120px;
    &-logo{
        position: relative;
        width: 100%;
    }
    &-logo1{
        position: absolute;
        top: -60px;
        left: 10px;
    }
    &-logo2{
        position: relative;
        left: 0;
    }
    &-logo3{
        position: relative;
    }
    &-flex{
        display: flex;
        justify-content: center;
    }
}

// キャッチコピー
.catch{
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            margin-top: 240px;
            background-color: #FFF3D2;
        }
    }
    &-title{
        margin-top: 90px;
    }
    &-main{
        @include mq(pc){
            width: 70%;
            text-align: center;
            margin: 0 auto;
            margin-top: 100px;
            img{
                width: 100%;
            }
        }
    }
    &-text{
        @include mq(pc){
            margin-top: 60px;
            font-size: 24px;
            text-align: center;
        }
    }
}

// 開催情報
.info{
    &-title{
        @include mq(pc){
            margin-top: 90px;
            padding-bottom: 120px;
        }
    }
    &-border{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            margin-top: 60px;
            background-color: #FFF3D2;
        }
    }
    &-box{
        @include mq(pc){
            width: 70%;
            margin: 0 auto;
        }
    }
    &-flex{
        @include mq(pc){
            display: flex;
            justify-content: center;
            gap: 60px;
        }
    }
    &-text{
        @include mq(pc){
            font-size: 40px;
            text-align: left;
            margin-left: 30px;
        }
        &--center{
            text-align: center;
        }
        span{
            @include mq(pc){
                font-size: 36px;
            }   
        }
    }
    // 悩みポイント
    &-map{
        margin: 0 auto;
        justify-content: center;
    }
}

.shop{
    @include mq(pc){
        margin: 60px auto;
    }

    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            margin-top: 60px;
            background-color: #FFF3D2;
        }
    }

    &-title{
        margin-top: 90px;
    }

    &-flexbox{
        @include mq(pc){
            width: 70%;
            margin: 0 auto;
        }
    }
    
    &-text{
        @include mq(pc){
            margin-top: 140px;
            text-align: center;
            font-size: 32px;
            line-height: 56px;
        }
    }

    &-tab{
        display: flex;
        justify-content: space-between;
        @include mq(pc){
            width: 70%;
            margin: 0 auto;
        }
    }

    .Department-flex{
        @include mq(pc){
            width: 90%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
        }
        
    }
    .Department-item{
        @include mq(pc){
            width: 25%;
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            border: 5px solid black;
            border-radius: 12px;
            font-size: 16px;
            img{
                width: 80px;
                height: 80px;
            }
        }
        
    }   
}

.messege{
    @include mq(pc){
        margin: 60px auto;
    }
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            margin-top: 60px;
            background-color: #FFF466;
        }
    }
    &-box2{
        @include mq(pc){
            width: 90%;
            margin: 0 auto;
        }
    }
    &-title{
        @include mq(pc){
            margin-top: 90px;
            padding-bottom: 120px;
        }
    }
    &-h3{
        @include mq(pc){
            font-size: 42px;
            font-weight: 400;
        }
        span{
            @include mq(pc){
                font-weight: 700;
                margin-left: 120px;
            }
        }
    }
    &-flex{
        display: flex;
        justify-content: space-between;
        &--else{
            flex-direction: row-reverse;
        }
    }
    &-text{
        background-color: #BAF5FF;
        @include mq(pc){
            width: 90%;
            border: 5px solid black;
            padding: 30px;
            font-size: 32px;
            line-height: 56px;
        }   
    }
}

.poster{
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            padding-bottom: 100px;
            margin-top: 60px;
            background-color: #FFF466;
        }
    }
    &-box2{
        @include mq(pc){
            width: 90%;
            margin: 0 auto;
        }
    }
    &-title{
        @include mq(pc){
            margin-top: 100px;
            margin-bottom: 235px;
        }
    }
    &-flex{
        display: flex;
        justify-content: space-between;
    }
    &-No1{
        @include mq(pc){
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            padding-bottom: 450px;
        }
    }
    &-No2{
        @include mq(pc){
            width: 45%;
            display: flex;
            flex-wrap: wrap;
            padding-top: 450px;
        }
    }
    &-img{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        img{
            width: 100%;
        }
    }
    &-textbox{
        width: 100%;
        border: 5px solid black;
        padding: 30px;
        background-color: #FFF3D2;
    }
    &-text{
        @include mq(pc){
            font-size: 24px;
        }
    }
}

.jumper{
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            padding-bottom: 100px;
            margin-top: 60px;
            background-color: #FFF466;
        }
    }
    &-box2{
        @include mq(pc){
            width: 90%;
            margin: 0 auto;
        }
    }
    &-title{
        @include mq(pc){
            margin-top: 90px;
            padding-bottom: 190px;
        }
    }
    &-text{
        @include mq(pc){
            margin-top: 40px;
            font-size: 24px;
            text-align: center;
        }
    }
}

.event{
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            padding-bottom: 100px;
            margin-top: 60px;
            background-color: #5AF1DF;
        }
    }
    &-box2{
        @include mq(pc){
            width: 90%;
            margin: 0 auto;
        }
    }
    &-title{
        @include mq(pc){
            margin-top: 90px;
            padding-bottom: 190px;
        }
    }
    &-text{
        @include mq(pc){
            margin-top: 40px;
            font-size: 24px;
            text-align: center;
        }
    }
}

.schoolplan{
    @include mq(pc){
        text-align: center;
    }
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            padding-bottom: 100px;
            margin-top: 60px;
            background-color: #FFF3D2;
        }
    }
    &-box2{
        @include mq(pc){
            width: 90%;
            margin: 0 auto;
        }
    }
    &-title{
        @include mq(pc){
            margin-top: 90px;
            padding-bottom: 190px;
        }
    }
    &-logo{
        @include mq(pc){
            width: 80%;
            margin: 0 auto;
        }
        img{
            width: 100%;
        }
    }
    &-text{
        @include mq(pc){
            margin-top: 40px;
            font-size: 24px;
            text-align: center;
        }
    }
}

.caveat{
    @include mq(pc){
        width: 70%;
        margin: 120px auto;
    }
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            margin-top: 240px;
            background-color: #E9FFFE;
        }
    }
    &-text{
        @include mq(pc){
            margin-top: 40px;
            font-size: 24px;
            text-align: center;
            
            font-weight: 700;
        }
    }
    &-list{
        li{
            list-style-type:disc;
        };
        
    }
}

.Infection{
    @include mq(pc){
        width: 70%;
        margin: 120px auto;
        padding-bottom: 100px;
    }
    &-text{
        @include mq(pc){
            margin-top: 40px;
            font-size: 24px;
            text-align: center;
            font-weight: 700;
        }
    }
    &-box{
        @include mq(pc){
            border: 5px solid black;
            padding: 20px;
            margin-top: 240px;
            background-color: #E9FFFE;
        }
    }
    &-list{
        li{
            list-style-type:disc;
        };
        
    }
}

.gototop{
    width: 10%;
    img{
        width: 100%;
    }
}