body {
  margin: 0;
  background-color: #57D9EE;
}

@media screen and (min-width: 1025px) {
  .conteiner {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1025px) {
  h3 {
    font-size: 42px;
  }
}

li {
  list-style: none;
  color: #000;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 1025px) {
  .ham {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .ham {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .ham {
    display: block;
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #FFF3D2;
  border: 6px solid black;
}
.nav-logo {
  margin-left: 5%;
  width: 10%;
}
.nav-logo img {
  width: 100%;
}
.nav-menu {
  width: 90%;
  display: flex;
}
.nav-menu li {
  margin-left: 20px;
}
.nav-menu li a {
  text-decoration: underline #FF00C7;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}

.fv {
  margin-top: 60px;
  background-color: #FFF3D2;
  border-left: 5px solid black;
  border-right: 5px solid black;
  padding-top: 120px;
  padding-bottom: 120px;
}
.fv-logo {
  position: relative;
  width: 100%;
}
.fv-logo1 {
  position: absolute;
  top: -60px;
  left: 10px;
}
.fv-logo2 {
  position: relative;
  left: 0;
}
.fv-logo3 {
  position: relative;
}
.fv-flex {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1025px) {
  .catch-box {
    border: 5px solid black;
    padding: 20px;
    margin-top: 240px;
    background-color: #FFF3D2;
  }
}
.catch-title {
  margin-top: 90px;
}
@media screen and (min-width: 1025px) {
  .catch-main {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
  }
  .catch-main img {
    width: 100%;
  }
}
@media screen and (min-width: 1025px) {
  .catch-text {
    margin-top: 60px;
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  .info-title {
    margin-top: 90px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1025px) {
  .info-border {
    border: 5px solid black;
    padding: 20px;
    margin-top: 60px;
    background-color: #FFF3D2;
  }
}
@media screen and (min-width: 1025px) {
  .info-box {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .info-flex {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}
@media screen and (min-width: 1025px) {
  .info-text {
    font-size: 40px;
    text-align: left;
    margin-left: 30px;
  }
}
.info-text--center {
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .info-text span {
    font-size: 36px;
  }
}
.info-map {
  margin: 0 auto;
  justify-content: center;
}

@media screen and (min-width: 1025px) {
  .shop {
    margin: 60px auto;
  }
}
@media screen and (min-width: 1025px) {
  .shop-box {
    border: 5px solid black;
    padding: 20px;
    margin-top: 60px;
    background-color: #FFF3D2;
  }
}
.shop-title {
  margin-top: 90px;
}
@media screen and (min-width: 1025px) {
  .shop-flexbox {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .shop-text {
    margin-top: 140px;
    text-align: center;
    font-size: 32px;
    line-height: 56px;
  }
}
.shop-tab {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .shop-tab {
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .shop .Department-flex {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1025px) {
  .shop .Department-item {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 5px solid black;
    border-radius: 12px;
    font-size: 16px;
  }
  .shop .Department-item img {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 1025px) {
  .messege {
    margin: 60px auto;
  }
}
@media screen and (min-width: 1025px) {
  .messege-box {
    border: 5px solid black;
    padding: 20px;
    margin-top: 60px;
    background-color: #FFF466;
  }
}
@media screen and (min-width: 1025px) {
  .messege-box2 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .messege-title {
    margin-top: 90px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1025px) {
  .messege-h3 {
    font-size: 42px;
    font-weight: 400;
  }
}
@media screen and (min-width: 1025px) {
  .messege-h3 span {
    font-weight: 700;
    margin-left: 120px;
  }
}
.messege-flex {
  display: flex;
  justify-content: space-between;
}
.messege-flex--else {
  flex-direction: row-reverse;
}
.messege-text {
  background-color: #BAF5FF;
}
@media screen and (min-width: 1025px) {
  .messege-text {
    width: 90%;
    border: 5px solid black;
    padding: 30px;
    font-size: 32px;
    line-height: 56px;
  }
}

@media screen and (min-width: 1025px) {
  .poster-box {
    border: 5px solid black;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 60px;
    background-color: #FFF466;
  }
}
@media screen and (min-width: 1025px) {
  .poster-box2 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .poster-title {
    margin-top: 100px;
    margin-bottom: 235px;
  }
}
.poster-flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1025px) {
  .poster-No1 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 450px;
  }
}
@media screen and (min-width: 1025px) {
  .poster-No2 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 450px;
  }
}
.poster-img {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
.poster-img img {
  width: 100%;
}
.poster-textbox {
  width: 100%;
  border: 5px solid black;
  padding: 30px;
  background-color: #FFF3D2;
}
@media screen and (min-width: 1025px) {
  .poster-text {
    font-size: 24px;
  }
}

@media screen and (min-width: 1025px) {
  .jumper-box {
    border: 5px solid black;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 60px;
    background-color: #FFF466;
  }
}
@media screen and (min-width: 1025px) {
  .jumper-box2 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .jumper-title {
    margin-top: 90px;
    padding-bottom: 190px;
  }
}
@media screen and (min-width: 1025px) {
  .jumper-text {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  .event-box {
    border: 5px solid black;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 60px;
    background-color: #5AF1DF;
  }
}
@media screen and (min-width: 1025px) {
  .event-box2 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .event-title {
    margin-top: 90px;
    padding-bottom: 190px;
  }
}
@media screen and (min-width: 1025px) {
  .event-text {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  .schoolplan {
    text-align: center;
  }
}
@media screen and (min-width: 1025px) {
  .schoolplan-box {
    border: 5px solid black;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 60px;
    background-color: #FFF3D2;
  }
}
@media screen and (min-width: 1025px) {
  .schoolplan-box2 {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1025px) {
  .schoolplan-title {
    margin-top: 90px;
    padding-bottom: 190px;
  }
}
@media screen and (min-width: 1025px) {
  .schoolplan-logo {
    width: 80%;
    margin: 0 auto;
  }
}
.schoolplan-logo img {
  width: 100%;
}
@media screen and (min-width: 1025px) {
  .schoolplan-text {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (min-width: 1025px) {
  .caveat {
    width: 70%;
    margin: 120px auto;
  }
}
@media screen and (min-width: 1025px) {
  .caveat-box {
    border: 5px solid black;
    padding: 20px;
    margin-top: 240px;
    background-color: #E9FFFE;
  }
}
@media screen and (min-width: 1025px) {
  .caveat-text {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
  }
}
.caveat-list li {
  list-style-type: disc;
}

@media screen and (min-width: 1025px) {
  .Infection {
    width: 70%;
    margin: 120px auto;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1025px) {
  .Infection-text {
    margin-top: 40px;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
  }
}
@media screen and (min-width: 1025px) {
  .Infection-box {
    border: 5px solid black;
    padding: 20px;
    margin-top: 240px;
    background-color: #E9FFFE;
  }
}
.Infection-list li {
  list-style-type: disc;
}

.gototop {
  width: 10%;
}
.gototop img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */