@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: #57D9EE;
  overflow-x: hidden;
  font-family: fot-tsukuardgothic-std, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.conteiner {
  position: relative;
}
@media screen and (min-width: 900px) {
  .conteiner {
    width: 95%;
    margin: 0 auto;
  }
}

h2 {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
}
h2 img {
  width: 100%;
}

@media screen and (min-width: 900px) {
  h3 {
    font-size: 42px;
  }
}

li {
  list-style: none;
  color: #000;
}

a {
  text-decoration: none;
}

@keyframes anime1 {
  from {
    transform: scale(0.9, 0.9);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes anime2 {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}
@keyframes anime3 {
  from {
    transform: scale(0.7, 0.7);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes yurayura {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}
@keyframes yurayurabig {
  0%, 100% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
}
@keyframes rotation1 {
  0% {
    transform: rotate(0) scale(0.7, 0.7);
  }
  100% {
    transform: rotate(360deg) scale(1, 1);
  }
}
.ham {
  width: 100%;
  display: none;
  overflow: hidden;
  transition: all 0.5s ease-in;
}
@media screen and (min-width: 900px) {
  .ham {
    display: none;
  }
}
.ham-logo {
  width: 40%;
  margin-left: 5%;
}
@media screen and (min-width: 541px) {
  .ham-logo {
    width: 30%;
  }
}
.ham-logo img {
  width: 100%;
}
.hammenu {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  left: 100%;
  z-index: 900;
  text-align: center;
  background-color: rgba(87, 217, 238, 0.6);
  transition: all 0.5s ease-in;
}
.hammenubg {
  position: relative;
  width: 90%;
  height: 70vh;
  background-color: #FFF3D2;
}
.hammenu-bgimg01 {
  position: absolute;
  width: 35%;
  left: 0;
  top: 20%;
}
@media screen and (min-width: 541px) {
  .hammenu-bgimg01 {
    width: 32%;
  }
}
.hammenu-bgimg02 {
  position: absolute;
  width: 35%;
  left: 0;
  bottom: 10%;
}
@media screen and (min-width: 541px) {
  .hammenu-bgimg02 {
    width: 27%;
    bottom: -5%;
  }
}
.hammenu-bgimg03 {
  position: absolute;
  width: 25%;
  right: 3%;
  bottom: 5%;
}
@media screen and (min-width: 541px) {
  .hammenu-bgimg03 {
    width: 15%;
    bottom: -3%;
  }
}
.hammenu-bgimg04 {
  position: absolute;
  width: 40%;
  right: 0;
  top: 20%;
}
@media screen and (min-width: 541px) {
  .hammenu-bgimg04 {
    width: 35%;
    top: 15%;
  }
}
.hammenu.act {
  left: 0;
}
.ham-text {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  padding-left: 0;
  border: 4px solid #000;
  padding-top: 90px;
  padding-bottom: 90px;
  line-height: 42px;
}
.ham-text a li {
  font-size: 24px;
}
.ham-text a li span {
  background-image: url(../img/PHONE-menu-deco-04.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 105%;
  padding-top: 3%;
  padding-bottom: 5%;
  padding-right: 10%;
}

.hambtn {
  position: fixed;
  top: 3%;
  right: 3%;
  display: flex;
  height: 72px;
  width: 72px;
  background-color: #FFED00;
  border: 4px solid #000;
  justify-content: center;
  align-items: center;
  box-shadow: -15px 12px 0px #00FFE4;
  z-index: 999; /*重ね順*/
}
.hambtn span {
  position: absolute;
  left: 0;
  width: 80%;
  left: 10%;
  height: 5px;
  background-color: #000;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}
.hambtn span:nth-of-type(1) {
  top: 15px;
}
.hambtn span:nth-of-type(2) {
  top: 34px;
}
.hambtn span:nth-of-type(3) {
  bottom: 15px;
}
@media screen and (min-width: 900px) {
  .hambtn {
    display: none;
  }
}
.hambtn.act span {
  transition: all 0.2s ease-out;
}
.hambtn.act span:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(45deg);
  transform: translateY(20px) rotate(45deg);
}
.hambtn.act span:nth-of-type(2) {
  opacity: 0;
}
.hambtn.act span:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(-45deg);
  transform: translateY(-15px) rotate(-45deg);
}

.grobalnav {
  display: none;
}
@media screen and (min-width: 900px) {
  .grobalnav {
    display: none;
  }
  .grobalnav-list {
    width: 97%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
  }
  .grobalnav-con a {
    font-size: 20px;
    font-weight: 700;
    color: #000;
  }
  .grobalnav .ncon1 {
    background-image: url(../img/nav-img01.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px 102px;
  }
  .grobalnav .ncon2 {
    background-image: url(../img/nav-img02.svg);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 30px 90px;
  }
}

.header {
  position: relative;
}
@media screen and (max-width: 799px) {
  .header__link {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .header__link {
    position: absolute;
    display: flex;
    width: 50%;
    top: 25%;
    right: 3%;
  }
  .header__link__a__img {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 800px) {
  .header {
    padding-bottom: 70px;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 900px) {
  .nav {
    width: 97%;
    position: fixed;
    top: 3%;
    left: 1.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF3D2;
    border: 12px solid black;
    box-sizing: border-box;
    transition: all 0.6s ease-out;
  }
  .nav.hidden {
    top: -30%;
  }
}
.nav-logo {
  margin-left: 5%;
  margin: 0;
  width: 10%;
}
.nav-logo img {
  width: 100%;
  vertical-align: bottom;
}
.nav-menu {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.nav-menu li {
  margin-left: 20px;
}
.nav-menu li a {
  text-decoration: underline #FF00C7;
  color: #000;
  font-size: 24px;
  font-weight: 600;
}
.nav-bgimg01 {
  position: absolute;
  width: 10%;
  top: -55%;
  right: 0;
}
.nav-bgimg02 {
  position: absolute;
  width: 3%;
  bottom: -1%;
  left: 20%;
}
.nav-bgimg03 {
  position: absolute;
  width: 5%;
  top: 0;
  left: 15%;
}
.nav-bgimg04 {
  position: absolute;
  width: 3%;
  top: 2%;
  right: 40%;
}

.fv {
  position: relative;
  width: 95%;
  margin: 0 auto;
  margin-top: 3%;
  background-image: url(../img/PHONE-TOP-bg.svg);
  padding-top: 143.4161864155%;
  /*calc(画像の高さ / 画像の幅 * widthの値)*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (min-width: 900px) {
  .fv {
    margin-top: -5%;
    margin-top: auto;
    width: 100%;
    height: 0;
    background-image: url(../img/PC-Top-KVbg.svg);
    padding-top: 66.1902384222%;
    /*calc(画像の高さ / 画像の幅 * widthの値)*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.fv-bg {
  position: absolute; /* コンテンツを絶対位置に配置 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .fv-bg {
    top: 10%;
  }
}
.fv-logo {
  display: none;
}
@media screen and (min-width: 900px) {
  .fv-logo {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 90px;
  }
}
.fv-logo-phone {
  display: block;
  width: 60%;
  margin: 0 auto;
  margin-top: 70px;
}
.fv-logo-phone img {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .fv-logo-phone {
    display: none;
  }
}
.fv-logo1 {
  width: 30%;
  position: absolute;
  top: -60px;
  left: 10px;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  .fv-logo1 {
    animation: anime3 0.9s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.fv-logo-shock {
  position: absolute;
  width: 20%;
  top: -30%;
  right: 15%;
  z-index: 1;
}
.fv-logo2 {
  position: relative;
  left: 0;
  width: 30%;
}
.fv-logo3 {
  position: relative;
  width: 50%;
}
@media screen and (min-width: 900px) {
  .fv-flex {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}
.fv-flex p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .fv-flex p {
    width: auto;
    margin: auto;
  }
}
.fv-flex div {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .fv-flex div {
    width: auto;
    margin: auto;
  }
}
.fv-flex img {
  width: 100%;
}
.fv .fv-2023 {
  position: absolute;
  width: 50%;
  top: 0;
}
@media screen and (min-width: 900px) {
  .fv .fv-2023 {
    display: none;
  }
}
.fv-img1 {
  position: absolute;
  width: 40%;
  top: 20%;
}
@media screen and (min-width: 541px) {
  .fv-img1 {
    width: 35%;
  }
}
@media screen and (min-width: 900px) {
  .fv-img1 {
    width: 30%;
    top: -25%;
  }
}
.fv-img2 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .fv-img2 {
    display: block;
    width: 15%;
    bottom: 8%;
    animation: anime1 0.5s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.fv-img3 {
  position: absolute;
  display: none;
}
@media screen and (min-width: 900px) {
  .fv-img3 {
    display: block;
    width: 15%;
    top: 30%;
    right: 10%;
    transform-origin: center;
    animation: yurayura 2s ease 0s infinite alternate;
  }
}
.fv-img4 {
  position: absolute;
  width: 20%;
  left: 15%;
  bottom: -10%;
  z-index: 10;
}
@media screen and (min-width: 900px) {
  .fv-img4 {
    width: 20%;
    left: 15%;
    bottom: -10%;
    z-index: 10;
    animation: anime1 1s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.fv-img5 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .fv-img5 {
    display: block;
    width: 15%;
    bottom: 10%;
    right: 40%;
    animation: yurayura 1s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.fv-img6 {
  width: 60%;
  right: 0;
  bottom: -25%;
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  .fv-img6 {
    width: 30%;
    right: 5%;
    bottom: -5%;
    animation: anime3 0.7s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.fv-img7 {
  width: 40%;
  position: absolute;
  display: block;
  top: 30%;
  right: 5%;
}
@media screen and (min-width: 900px) {
  .fv-img7 {
    display: none;
  }
}
.fv-phonestyle {
  position: relative;
}
.fv-datephone {
  display: block;
  width: 25%;
  position: absolute;
  bottom: 0;
  left: 10%;
}
@media screen and (min-width: 900px) {
  .fv-datephone {
    display: none;
  }
}

.catch {
  position: relative;
  background-image: url(../img/PC-alert-bg-03.svg);
}
.catch-box {
  width: 80%;
  border: 12px solid black;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #FFF3D2;
  box-shadow: 15px 12px 0px #FDF150;
}
@media screen and (min-width: 900px) {
  .catch-box {
    width: auto;
    margin: auto;
    border: 12px solid black;
    padding: 20px;
    padding-bottom: 90px;
    margin-top: 60px;
    background-color: #FFF3D2;
    box-shadow: none;
  }
}
.catch-name {
  font-size: 20px;
}
@media screen and (min-width: 900px) {
  .catch-name {
    width: 70%;
    margin: 0 auto;
    font-size: 28px;
    margin-top: 30px;
  }
}
.catch-title {
  position: relative;
  width: 100%;
  margin-top: 30%;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
  z-index: 3;
}
@media screen and (min-width: 900px) {
  .catch-title {
    width: 50%;
    margin-top: 90px;
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
.catch-title img {
  width: 80%;
}
.catch-titlebox {
  position: relative;
}
@media screen and (min-width: 900px) {
  .catch-main {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
  }
}
.catch-main-PC {
  display: none;
}
@media screen and (min-width: 900px) {
  .catch-main-PC {
    display: block;
    width: 100%;
  }
}
.catch-main-PHONE {
  width: 80%;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .catch-main-PHONE {
    display: none;
  }
}
.catch-text {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .catch-text {
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    font-size: 24px;
  }
}
.catch-img01 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .catch-img01 {
    display: block;
    top: 10%;
    left: 5%;
    animation: rotation1 3s infinite;
    transform-origin: center;
  }
}
.catch-img02 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .catch-img02 {
    display: block;
    width: 15%;
    top: 30%;
    left: -10%;
  }
}
.catch-img03 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .catch-img03 {
    display: block;
    width: 15%;
    right: 1%;
  }
}
.catch-bgimg01 {
  position: absolute;
  z-index: -10;
}
@media screen and (min-width: 900px) {
  .catch-bgimg01 {
    bottom: 0px;
    right: 0px;
  }
}

.info {
  position: relative;
}
.info-title {
  position: relative;
  width: 80%;
  margin-top: 60px;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .info-title {
    width: 50%;
    margin-top: 90px;
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
.info-title img {
  width: 80%;
}
@media screen and (min-width: 900px) {
  .info-title img {
    width: 50%;
  }
}
.info-border {
  width: 80%;
  border: 12px solid black;
  padding: 20px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #FFF3D2;
  box-shadow: 15px 12px 0px #FDF150;
}
@media screen and (min-width: 900px) {
  .info-border {
    width: auto;
    margin: auto;
    border: 12px solid black;
    padding: 20px;
    margin-top: 60px;
    background-color: #FFF3D2;
    box-shadow: none;
  }
}
.info-box {
  position: relative;
}
@media screen and (min-width: 900px) {
  .info-box {
    width: 70%;
    margin-top: 120px;
    margin: 0 auto;
  }
}
.info .info-phonbg1 {
  width: 30%;
  position: absolute;
  top: -5%;
  right: -10%;
}
@media screen and (min-width: 900px) {
  .info .info-phonbg1 {
    display: none;
  }
}
.info-h3 {
  background-image: url(../img/3-subtitle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 5%;
  padding-left: 5%;
}
@media screen and (min-width: 900px) {
  .info-flex {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}
.info-text {
  font-size: 24px;
  text-align: center;
}
.info-text-bold {
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .info-text {
    font-size: 40px;
    text-align: left;
    margin-left: 30px;
  }
}
.info-text--center {
  text-align: center;
}
.info-text span {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (min-width: 900px) {
  .info-text span {
    font-size: 36px;
  }
}
.info-phonimg02 {
  width: 50%;
  margin-left: 40%;
}
@media screen and (min-width: 900px) {
  .info-phonimg02 {
    display: none;
  }
}
.info-map {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 120px;
}
.info-map-size {
  width: 90%;
}
.info-bgimg01 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .info-bgimg01 {
    display: block;
    width: 10%;
    top: 5%;
    left: 5%;
  }
  .info-bgimg01 img {
    width: 80%;
  }
  .info-bgimg01-a {
    animation: anime2 1s ease infinite;
    transform-origin: center;
  }
  .info-bgimg01-b {
    margin-top: 20px;
    animation: anime2 1s ease infinite;
    animation-delay: 0.3s;
    transform-origin: center;
  }
  .info-bgimg01-c {
    margin-top: 20px;
    animation: anime2 1s ease infinite;
    animation-delay: 0.6s;
    transform-origin: center;
  }
}
.info-bgimg02 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .info-bgimg02 {
    display: block;
    width: 30%;
    top: -15%;
    right: -15%;
  }
  .info-bgimg02-n1 {
    animation: anime2 0.8s ease 0s infinite alternate;
    transform-origin: center;
  }
  .info-bgimg02-n2 {
    animation: anime2 0.8s ease 0s infinite alternate;
    animation-delay: 0.3s;
    transform-origin: center;
  }
  .info-bgimg02-n3 {
    animation: anime2 0.8s ease 0s infinite alternate;
    animation-delay: 0.6s;
    transform-origin: center;
  }
}
.info-bgimg03 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .info-bgimg03 {
    display: block;
    width: 25%;
    bottom: 5%;
    left: -15%;
  }
}
.info-bgimg04 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .info-bgimg04 {
    display: block;
    width: 25%;
    bottom: 0;
    left: -5%;
    animation: anime2 0.8s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.info-bgimg05 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .info-bgimg05 {
    display: block;
    width: 20%;
    bottom: -10%;
    right: 10%;
  }
}
.info-bgimg06 {
  display: none;
  position: absolute;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  .info-bgimg06 {
    display: block;
    width: 15%;
    bottom: -15%;
    right: 5%;
  }
}

.shop {
  position: relative;
  /* is-activeがついている時のスタイル */
  /* タブパネル */
  /* is-showがついている時のスタイル */
}
@media screen and (min-width: 900px) {
  .shop {
    margin: 60px auto;
  }
}
.shop .comingsoon-img {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (min-width: 900px) {
  .shop .comingsoon-img {
    margin-top: 60px;
  }
}
.shop .comingsoon-img img {
  width: 100%;
  border: 12px solid black;
}
.shop-phonimg01 {
  width: 40%;
  top: -15%;
  left: -2%;
  position: absolute;
}
@media screen and (min-width: 541px) {
  .shop-phonimg01 {
    top: -25%;
  }
}
@media screen and (min-width: 900px) {
  .shop-phonimg01 {
    display: none;
  }
}
.shop-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  margin-top: 60px;
  background-color: #FFF3D2;
  border: 12px solid #000;
  padding-bottom: 180px;
  box-shadow: 15px 12px 0px #FDF150;
}
@media screen and (min-width: 900px) {
  .shop-box {
    width: auto;
    margin: auto;
    position: relative;
    padding-bottom: 180px;
    box-shadow: none;
  }
}
.shop-title {
  position: relative;
  width: 80%;
  margin-top: 60px;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .shop-title {
    width: 50%;
    margin-top: 90px;
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 900px) {
  .shop-title img {
    width: 60%;
  }
}
.shop-flexbox {
  display: none;
  position: relative;
}
@media screen and (min-width: 900px) {
  .shop-flexbox {
    width: 70%;
    margin: 0 auto;
  }
}
.shop-text {
  margin-top: 60px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .shop-text {
    width: 80%;
    margin: 140px auto 30px auto;
    font-size: 24px;
    line-height: 56px;
  }
}
.shop-bgimg01 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .shop-bgimg01 {
    display: block;
    width: 30%;
    top: -5%;
    left: -20%;
    animation: anime1 0.9s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.shop-bgimg02 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .shop-bgimg02 {
    display: block;
    width: 25%;
    top: 20%;
    right: -30%;
  }
}
.shop-bgimg03 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .shop-bgimg03 {
    display: block;
    width: 40%;
    bottom: -10%;
    left: -35%;
    animation: anime2 0.9s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.shop-bgimg04 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .shop-bgimg04 {
    display: flex;
    width: 20%;
    right: 35%;
    bottom: 3%;
  }
}
.shop-bgimg04 img {
  width: 30%;
}
.shop-bgimg04-a {
  margin-right: 10px;
}
.shop-bgimg04-b {
  margin-right: 10px;
}
.shop-bgimg05 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .shop-bgimg05 {
    display: block;
    width: 30%;
    left: -10%;
    bottom: 0;
  }
}
.shop-bgimg06 {
  display: none;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .shop-bgimg06 {
    display: block;
    width: 20%;
    right: -1%;
    bottom: 15%;
  }
}
@media screen and (min-width: 900px) {
  .shop .Department-flex {
    width: 100%;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
}
.shop .Department-item {
  background-color: #fff;
}
@media screen and (min-width: 900px) {
  .shop .Department-item {
    width: 25%;
    padding: 20px 0;
    text-align: center;
    border: 5px solid black;
    border-radius: 12px;
    font-size: 14px;
  }
  .shop .Department-item img {
    width: 80px;
    height: 80px;
  }
}
.shop .tab {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.shop .tab__menu {
  display: flex;
  align-items: flex-end; /* メニューを下揃え&高さを調整 */
  justify-content: space-between;
  min-height: 50px; /* メニュー切替時にタブがズレないように */
  padding: 0;
  margin: 0;
}
.shop .tab__menu-item {
  list-style: none;
  width: 33%;
  padding: 20px 5px; /* メニューに高さを付ける */
  text-align: center;
  margin-right: 6px;
  background-color: #FCAA3B;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  cursor: pointer;
  transition: all 0.3s; /* アニメーション */
  border-top: 5px solid #000;
  border-right: 5px solid #000;
  border-left: 5px solid #000;
}
.shop .tab__menu-item:last-of-type {
  margin-right: 0px;
}
.shop .tab__menu-item.is-active {
  padding: 30px 5px; /* メニューに高さを付ける */
  color: #000;
  background-color: #FFD355;
  background-image: url(../img/tab-act.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 0px;
  font-weight: 700;
}
.shop .tab__panel {
  width: 100%;
}
.shop .tab__panel-box {
  border: 5px solid #000;
  min-height: 400px; /* テキスト量が多くなっても対応できるように */
  background-color: #FCAA3B;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.shop .tab__panel-box001 {
  display: none;
}
.shop .tab__panel-box002 {
  display: none;
}
.shop .tab__panel-box003 {
  display: none;
}
.shop .tab__panel-box.is-show {
  display: block;
}
.shop .groupposter {
  position: relative;
}
.shop .groupposter-box {
  width: 100%;
  margin: 60px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding-left: 0;
}
.shop .groupposter-img {
  width: 80%;
  margin: 0 auto;
  border: 5px solid #000;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .shop .groupposter-img {
    width: 45%;
    margin: auto;
    box-shadow: 15px 12px 0px #9CFFF9;
  }
}
.shop .groupposter-img img {
  width: 100%;
  vertical-align: top;
}
.shop .PC-br {
  display: none;
}
@media screen and (min-width: 900px) {
  .shop .PC-br {
    display: block;
  }
}
.shop .watch-btn {
  display: none;
  background-color: #FF0000;
  border: 4px solid black;
  position: absolute;
  bottom: -1%;
  right: -5%;
  color: #fff;
  animation: anime1 0.7s ease 0s infinite alternate;
  transform-origin: center;
}
@media screen and (min-width: 900px) {
  .shop .watch-btn {
    border: none;
    background-color: #FFF3D2;
    bottom: 0;
    right: 0;
  }
}
.shop .watch-btn div {
  display: flex;
}
@media screen and (min-width: 900px) {
  .shop .watch-btn div {
    display: block;
  }
}
.shop .watch-btn div .btnbg {
  display: none;
}
@media screen and (min-width: 900px) {
  .shop .watch-btn div .btnbg {
    display: block;
    position: relative;
    vertical-align: top;
  }
}
.shop .watch-btn div .btnbg2 {
  width: 40%;
}
@media screen and (min-width: 900px) {
  .shop .watch-btn div .btnbg2 {
    position: absolute;
    width: 50%;
    bottom: 5%;
    right: 20%;
  }
}
.shop .watch-btn div p {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (min-width: 900px) {
  .shop .watch-btn div p {
    position: absolute;
    top: 40%;
    right: 5%;
    font-size: 40px;
  }
}

.wavyline {
  width: 90%;
  margin: 30px auto;
}
@media screen and (min-width: 900px) {
  .wavyline {
    width: 70%;
    margin: 0 auto;
  }
}
.wavyline img {
  width: 100%;
}

.messege {
  position: relative;
}
@media screen and (min-width: 900px) {
  .messege {
    margin: 60px auto;
  }
}
.messege-box {
  width: 80%;
  margin: 0 auto;
  border: 12px solid black;
  padding: 20px 20px 60px 20px;
  background-color: #FFF466;
}
@media screen and (min-width: 900px) {
  .messege-box {
    width: auto;
    margin-top: 60px;
  }
}
.messege-box2 {
  position: relative;
  margin-top: 60px;
}
@media screen and (min-width: 900px) {
  .messege-box2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 120px;
  }
}
.messege-title {
  position: relative;
  width: 80%;
  margin-top: 60px;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .messege-title {
    width: 50%;
    margin-top: 90px;
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 900px) {
  .messege-title img {
    width: 50%;
  }
}
.messege-h3 {
  width: 50%;
  position: relative;
  background-image: url(../img/PC-aisatu-talkcloud.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20% 5% 20% 0;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .messege-h3 {
    text-align: left;
    background-position-x: 0;
    width: auto;
    font-size: 42px;
    font-weight: 400;
    padding-left: 5%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 900px) {
  .messege-h3 span {
    font-weight: 700;
    margin-left: 120px;
  }
}
.messege-h3--else {
  width: 50%;
  position: relative;
  background-image: url(../img/PC-aisatu-talkcloud2.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 20% 0 20% 5%;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .messege-h3--else {
    text-align: left;
    width: auto;
    font-size: 42px;
    font-weight: 400;
    margin-left: 50%;
    padding-left: 8%;
    padding-right: 6%;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 900px) {
  .messege-h3--else span {
    font-weight: 700;
    margin-left: 120px;
  }
}
.messege-flex {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 900px) {
  .messege-flex {
    display: block;
    margin: auto;
  }
}
.messege-flex--else {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-bottom: 10px;
}
.messege-flex figure {
  margin: 0;
}
@media screen and (min-width: 900px) {
  .messege-flex figure {
    margin-left: 40px;
  }
}
.messege-line {
  width: 30%;
  position: absolute;
  top: -6px;
  right: 0;
}
@media screen and (min-width: 541px) {
  .messege-line {
    top: -30px;
  }
}
@media screen and (min-width: 900px) {
  .messege-line {
    top: -50px;
  }
}
.messege-lineelse {
  width: 30%;
  position: absolute;
  top: -6px;
  left: 5%;
}
@media screen and (min-width: 541px) {
  .messege-lineelse {
    top: -30px;
  }
}
@media screen and (min-width: 900px) {
  .messege-lineelse {
    top: -50px;
  }
}
.messege-line2 {
  display: none;
  position: absolute;
  bottom: -30px;
  right: 150px;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  .messege-line2 {
    display: block;
  }
}
.messege-line2else {
  display: none;
  position: absolute;
  bottom: -30px;
  right: -80px;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  .messege-line2else {
    display: block;
  }
}
.messege-img {
  width: 50%;
  position: relative;
}
@media screen and (min-width: 900px) {
  .messege-img {
    width: 50%;
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 1;
  }
}
.messege-img--else {
  position: relative;
}
@media screen and (min-width: 900px) {
  .messege-img--else {
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 1;
  }
}
.messege-img img {
  width: 100%;
  vertical-align: top;
  border: 4px solid #000;
}
@media screen and (min-width: 900px) {
  .messege-img img {
    border: 8px solid #000;
  }
}
.messege-text {
  position: relative;
  width: 90%;
  padding: 6%;
  font-size: 18px;
  line-height: 36px;
  border: 5px solid black;
  z-index: 3;
  background-color: #BAF5FF;
}
@media screen and (min-width: 900px) {
  .messege-text {
    width: 50%;
    margin-left: 15%;
    padding: 8%;
    font-size: 28px;
    line-height: 56px;
  }
}
.messege-text--else {
  margin: 0;
}
@media screen and (min-width: 900px) {
  .messege-text--else {
    margin-left: 35%;
  }
}
.messege-bgimg01 {
  width: 70%;
  position: absolute;
  right: 0;
  bottom: -20%;
  z-index: 1;
  display: none;
}
@media screen and (min-width: 900px) {
  .messege-bgimg01 {
    width: 50%;
    right: -20%;
    bottom: -20%;
  }
}
.messege-bgimg02 {
  display: none;
  width: 50%;
  position: absolute;
  left: -20%;
  bottom: -20%;
  z-index: 1;
}
.messege-bgimg03 {
  display: none;
  width: 50%;
  position: absolute;
  right: 0;
  bottom: -3%;
  z-index: 1;
}

.poster {
  position: relative;
}
.poster-box {
  width: 80%;
  margin: 0 auto;
  border: 12px solid black;
  padding: 20px;
  padding-bottom: 100px;
  margin-top: 60px;
  background-color: #FFF466;
}
@media screen and (min-width: 900px) {
  .poster-box {
    width: auto;
  }
}
@media screen and (min-width: 900px) {
  .poster-box2 {
    width: 90%;
    margin: 0 auto;
  }
}
.poster-title {
  position: relative;
  width: 80%;
  margin-top: 60px;
  background-size: 50%;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .poster-title {
    width: 50%;
    margin-top: 90px;
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
@media screen and (min-width: 900px) {
  .poster-title img {
    width: 80%;
  }
}
.poster-bgimg01 {
  width: 40%;
  position: absolute;
  left: -15%;
  top: 12%;
}
@media screen and (min-width: 900px) {
  .poster-bgimg01 {
    width: 55%;
    top: 11%;
  }
}
.poster-bgimg02 {
  display: none;
}
@media screen and (min-width: 900px) {
  .poster-bgimg02 {
    display: block;
    width: 50%;
    position: absolute;
    right: -10%;
    top: 0;
  }
}
.poster-bgimg03 {
  display: none;
}
@media screen and (min-width: 900px) {
  .poster-bgimg03 {
    width: 50%;
    position: absolute;
    right: -10%;
    top: 20%;
  }
}
.poster-flex {
  position: relative;
  margin-top: 120px;
}
@media screen and (min-width: 900px) {
  .poster-flex {
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
  }
}
.poster-No1 {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .poster-No1 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 450px;
  }
}
.poster-No2 {
  width: 100%;
  position: relative;
  margin-top: 60px;
}
@media screen and (min-width: 900px) {
  .poster-No2 {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 450px;
  }
}
.poster-img {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  z-index: 3;
}
.poster-img img {
  width: 100%;
}
.poster-name {
  font-size: 20px;
}
@media screen and (min-width: 900px) {
  .poster-name {
    font-size: 28px;
  }
}
.poster-bgimg04 {
  display: none;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .poster-bgimg04 {
    display: block;
    width: 10%;
    position: absolute;
    left: -5%;
    top: 40%;
  }
}
.poster-bgimg05 {
  display: none;
}
@media screen and (min-width: 900px) {
  .poster-bgimg05 {
    width: 50%;
    position: absolute;
    left: -5%;
    bottom: 20%;
    z-index: 1;
  }
}
.poster-bgimg06 {
  width: 100%;
  position: absolute;
  left: -20%;
  bottom: -13%;
}
@media screen and (min-width: 900px) {
  .poster-bgimg06 {
    width: 60%;
  }
}
.poster-bgimg07 {
  width: 20%;
  position: absolute;
  right: -10%;
  bottom: -10%;
}
.poster-textbox {
  position: relative;
  width: 90%;
  margin: 0 auto;
  border: 5px solid black;
  padding: 3%;
  background-color: #FFF3D2;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  .poster-textbox {
    width: 100%;
    padding: 30px;
  }
}
@media screen and (min-width: 900px) {
  .poster-text {
    font-size: 20px;
  }
}

.jumper {
  position: relative;
}
.jumper-box {
  width: 80%;
  margin: 0 auto;
  position: relative;
  border: 12px solid black;
  padding: 20px;
  padding-bottom: 100px;
  margin-top: 60px;
  background-color: #FFF466;
}
@media screen and (min-width: 900px) {
  .jumper-box {
    width: auto;
    border: 12px solid black;
    padding: 20px;
    padding-bottom: 100px;
    margin-top: 60px;
    background-color: #FFF466;
  }
}
@media screen and (min-width: 900px) {
  .jumper-box2 {
    width: 70%;
    margin: 0 auto;
  }
}
.jumper-title {
  width: 80%;
  margin-top: 60px;
  background-size: 50%;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .jumper-title {
    width: 60%;
    margin-top: 90px;
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
.jumper-title img {
  width: 100%;
}
.jumper-img {
  position: relative;
  z-index: 3;
  background: #fff;
  border: 12px solid #000;
  display: inline-block;
  margin: 0;
  margin-top: 60px;
}
.jumper-img img {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .jumper-img {
    width: 100%;
    margin-left: 0;
  }
}
.jumper-name {
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .jumper-name {
    width: auto;
    margin: auto;
    font-size: 28px;
    margin-top: 30px;
  }
}
.jumper-name-1 {
  margin-top: 30px;
}
@media screen and (min-width: 900px) {
  .jumper-name-1 {
    margin-top: 60px;
  }
}
.jumper-text {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (min-width: 900px) {
  .jumper-text {
    width: 100%;
    margin: auto;
    margin-top: 40px;
    font-size: 24px;
    text-align: left;
  }
}
.jumper-bgimg01 {
  width: 35%;
  bottom: -17%;
  left: -2%;
  position: absolute;
  z-index: 1;
}
@media screen and (min-width: 541px) {
  .jumper-bgimg01 {
    width: 25%;
  }
}
@media screen and (min-width: 900px) {
  .jumper-bgimg01 {
    width: 20%;
    top: 0;
    left: -5%;
    bottom: auto;
  }
}
.jumper-bgimg02 {
  width: 35%;
  position: absolute;
  right: 0;
  bottom: -10%;
  z-index: 1;
}
@media screen and (min-width: 541px) {
  .jumper-bgimg02 {
    width: 25%;
  }
}
@media screen and (min-width: 900px) {
  .jumper-bgimg02 {
    width: 20%;
    top: -10%;
    right: -3%;
    z-index: 3;
  }
}
.jumper-bgimg03 {
  display: none;
}
@media screen and (min-width: 900px) {
  .jumper-bgimg03 {
    display: block;
    width: 20%;
    position: absolute;
    bottom: -10%;
    right: -3%;
    z-index: 3;
  }
}
.jumper-bgimg04 {
  display: none;
}
@media screen and (min-width: 900px) {
  .jumper-bgimg04 {
    display: block;
    width: 40%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.event {
  position: relative;
}
@media screen and (min-width: 900px) {
  .event {
    background-image: url(../img/mike.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.event-box {
  width: 80%;
  margin: 0 auto;
  border: 12px solid black;
  padding: 20px;
  padding-bottom: 100px;
  margin-top: 60px;
  background-color: #5AF1DF;
}
@media screen and (min-width: 900px) {
  .event-box {
    width: auto;
  }
}
@media screen and (min-width: 900px) {
  .event-box2 {
    width: 70%;
    margin: 0 auto;
  }
}
.event-title {
  width: 70%;
  margin-top: 60px;
  background-size: 50%;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 70%;
  padding-bottom: 42%;
}
@media screen and (min-width: 900px) {
  .event-title {
    width: 50%;
    background-size: auto;
    margin-top: 90px;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
.event-title img {
  width: 100%;
}
.event-img {
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (min-width: 900px) {
  .event-img {
    margin-top: 190px;
  }
}
.event-img img {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .event-text {
    margin-top: 40px;
    font-size: 24px;
    text-align: left;
  }
}
.event-bgimg01 {
  width: 30%;
  position: absolute;
  right: 6%;
  top: 14%;
}
@media screen and (min-width: 900px) {
  .event-bgimg01 {
    width: 25%;
    top: 10%;
    right: 3%;
    animation: anime2 0.8s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.event-bgimg02 {
  width: 54%;
  position: absolute;
  top: 28%;
  right: 0;
}
@media screen and (min-width: 900px) {
  .event-bgimg02 {
    width: 30%;
    top: 45%;
  }
}
.event-bgimg03 {
  width: 55%;
  position: absolute;
  top: 0;
  left: 5%;
}
.event-bgimg04 {
  width: 55%;
  position: absolute;
  bottom: -15%;
  right: 0;
  z-index: 3;
}
@media screen and (min-width: 541px) {
  .event-bgimg04 {
    width: 32%;
    bottom: -12%;
  }
}
@media screen and (min-width: 900px) {
  .event-bgimg04 {
    width: 30%;
    bottom: -20%;
    right: -3%;
    animation: anime3 1.2s ease 0s infinite alternate;
    transform-origin: center;
  }
}

.schoolplan {
  position: relative;
  z-index: 1;
}
.schoolplan-box {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  padding-bottom: 100px;
  margin-top: 60px;
  background-color: #FFF3D2;
  background-image: url(../img/PC-plan-bg.svg);
  background-size: cover;
  border: 4px solid black;
}
@media screen and (min-width: 900px) {
  .schoolplan-box {
    width: auto;
    border-bottom: 12px solid #000;
  }
}
@media screen and (min-width: 900px) {
  .schoolplan-box2 {
    width: 70%;
    margin: 0 auto;
  }
}
.schoolplan-textbox {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 36px;
}
@media screen and (min-width: 900px) {
  .schoolplan-textbox {
    font-size: 24px;
    margin-top: 120px;
  }
}
.schoolplan-textbox p {
  text-align: center;
}
.schoolplan-textbox li {
  list-style-type: decimal;
}
.schoolplan-flex {
  width: 95%;
  display: flex;
  justify-content: center;
}
.schoolplan .rule {
  position: relative;
  padding-bottom: 60px;
}
@media screen and (min-width: 900px) {
  .schoolplan .rule {
    background-color: #fff;
    border: 12px solid #000;
    box-shadow: -20px 15px 0px #AB00E8;
  }
}
.schoolplan .rule-bgimg01 {
  display: none;
}
@media screen and (min-width: 900px) {
  .schoolplan .rule-bgimg01 {
    display: block;
    width: 20%;
    position: absolute;
    top: -30%;
  }
}
.schoolplan .rule-bgimg02 {
  position: absolute;
  width: 60%;
  bottom: -8%;
  right: 3%;
}
@media screen and (min-width: 541px) {
  .schoolplan .rule-bgimg02 {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  .schoolplan .rule-bgimg02 {
    width: 35%;
    top: -10%;
    bottom: auto;
  }
}
.schoolplan .rule-bgimg03 {
  display: none;
  height: 0;
}
@media screen and (min-width: 900px) {
  .schoolplan .rule-bgimg03 {
    display: block;
    height: auto;
    width: 25%;
    position: absolute;
    bottom: -28%;
    right: -3%;
  }
}
.schoolplan-h3 {
  text-align: left;
  background-image: url(../img/3-subtitle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
}
.schoolplan-title {
  width: 70%;
  margin-top: 60px;
  background-size: 50%;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .schoolplan-title {
    width: 50%;
    background-size: auto;
    margin-top: 90px;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
.schoolplan-title img {
  width: 100%;
}
.schoolplan-logo {
  width: 90%;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (min-width: 900px) {
  .schoolplan-logo {
    width: 80%;
    margin: 0 auto;
    margin-top: auto;
  }
}
.schoolplan-logo img {
  width: 100%;
}
.schoolplan-imgbox {
  position: relative;
}
.schoolplan-bgimg01 {
  display: none;
}
@media screen and (min-width: 900px) {
  .schoolplan-bgimg01 {
    display: block;
    width: 25%;
    position: absolute;
    top: 5%;
    left: 3%;
  }
}
.schoolplan-bgimg02 {
  display: none;
}
@media screen and (min-width: 900px) {
  .schoolplan-bgimg02 {
    display: block;
    width: 25%;
    position: absolute;
    top: 10%;
    right: 3%;
  }
}
.schoolplan-arrow {
  width: 30%;
  position: absolute;
  left: -5%;
  bottom: -40%;
}
@media screen and (min-width: 900px) {
  .schoolplan-arrow {
    width: 25%;
    left: -10%;
    bottom: -30%;
  }
}
.schoolplan-bgimg03 {
  display: none;
}
@media screen and (min-width: 900px) {
  .schoolplan-bgimg03 {
    width: 20%;
    display: block;
    position: absolute;
    bottom: 3%;
    left: 5%;
  }
}
.schoolplan-bgimg04 {
  display: none;
}
@media screen and (min-width: 900px) {
  .schoolplan-bgimg04 {
    width: 20%;
    display: block;
    position: absolute;
    bottom: 3%;
    right: 5%;
  }
}

.pb-120 {
  padding-bottom: 120px;
}

.caveat {
  position: relative;
  width: 90%;
  margin: 120px auto;
}
@media screen and (min-width: 900px) {
  .caveat {
    width: 70%;
    margin: 120px auto;
  }
}
.caveat-title {
  width: 60%;
  position: relative;
  z-index: 3;
  background-size: 50%;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .caveat-title {
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
.caveat-box {
  position: relative;
  z-index: 3;
  border: 4px solid black;
  padding: 20px;
  margin-top: 60px;
  background-color: #E9FFFE;
}
@media screen and (min-width: 900px) {
  .caveat-box {
    border: 12px solid black;
    margin-top: 120px;
  }
}
.caveat-text {
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .caveat-text {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
  }
}
.caveat-list li {
  list-style-type: disc;
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
}
@media screen and (min-width: 900px) {
  .caveat-list li {
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
  }
}
.caveat-bgimg01 {
  width: 60%;
  position: absolute;
  right: -5%;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .caveat-bgimg01 {
    right: -25%;
    animation: anime2 1.2s ease 0s infinite alternate;
    transform-origin: center;
  }
}

.Infection {
  position: relative;
  width: 90%;
  margin: 120px auto;
  padding-bottom: 60px;
}
@media screen and (min-width: 900px) {
  .Infection {
    width: 70%;
    margin: 120px auto;
    padding-bottom: 100px;
  }
}
.Infection-title {
  width: 50%;
  position: relative;
  z-index: 1;
  background-size: 50%;
  background-image: url(../img/PC-3belowTitle2.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 115%;
  padding-bottom: 15%;
}
@media screen and (min-width: 900px) {
  .Infection-title {
    background-size: auto;
    background-position-y: 105%;
    padding-bottom: 5%;
  }
}
.Infection-text {
  width: 90%;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .Infection-text {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 700;
  }
}
.Infection-box {
  position: relative;
  z-index: 3;
  border: 4px solid black;
  padding: 20px;
  margin-top: 60px;
  background-color: #E9FFFE;
}
@media screen and (min-width: 900px) {
  .Infection-box {
    border: 12px solid black;
    margin-top: 120px;
  }
}
.Infection-list li {
  list-style-type: disc;
  font-size: 16px;
  font-weight: 500;
  line-height: 42px;
}
@media screen and (min-width: 900px) {
  .Infection-list li {
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
  }
}
.Infection-bgimg01 {
  width: 60%;
  position: absolute;
  left: -30%;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .Infection-bgimg01 {
    animation: anime2 1.2s ease 0s infinite alternate;
    transform-origin: center;
  }
}
.Infection-bgimg02 {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .Infection-bgimg02 {
    right: -25%;
    animation: anime1 1.5s ease 0s infinite alternate;
    transform-origin: center;
  }
}

.gototop {
  width: 20%;
  position: absolute;
  right: 10%;
  top: 55%;
  z-index: 7;
}
@media screen and (min-width: 541px) {
  .gototop {
    width: 15%;
    right: 7%;
    top: 65%;
  }
}
@media screen and (min-width: 900px) {
  .gototop {
    position: relative;
    width: 10%;
    top: auto;
  }
}
.gototop img {
  width: 100%;
}

.footer {
  position: relative;
  width: 100%;
  background-image: url(../img/PHONE-footer-bg.svg);
  background-size: cover;
  background-repeat: repeat-x;
  padding-top: 20%;
  padding-bottom: 60px;
}
@media screen and (min-width: 541px) {
  .footer {
    padding-top: 25%;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    padding-top: 120px;
    background-image: url(../img/PC-footer.svg);
    background-size: contain;
  }
}
.footer-logo {
  position: absolute;
  top: 17%;
  left: 10%;
  width: 25%;
}
@media screen and (min-width: 541px) {
  .footer-logo {
    top: 25%;
  }
}
@media screen and (min-width: 900px) {
  .footer-logo {
    position: relative;
    width: 15%;
    top: auto;
    left: auto;
  }
}
.footer-logo img {
  width: 100%;
}
.footer-flex {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 900px) {
  .footer-flex {
    display: flex;
    justify-content: space-between;
  }
}
.footer-box {
  position: relative;
}
.footer-list {
  position: relative;
  z-index: 3;
  text-align: center;
  margin: 0 auto;
  padding-left: 0;
  line-height: 32px;
}
@media screen and (min-width: 900px) {
  .footer-list {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 900px) {
  .footer ul li {
    width: 45%;
    font-size: 18px;
    line-height: 32px;
  }
}
.footer ul li a {
  color: #000;
}
.footer-bgimg01 {
  position: absolute;
  width: 20%;
  bottom: 0;
  left: 20%;
}
@media screen and (min-width: 541px) {
  .footer-bgimg01 {
    width: 15%;
  }
}
@media screen and (min-width: 900px) {
  .footer-bgimg01 {
    width: 10%;
    bottom: auto;
    left: -3%;
    z-index: 1;
  }
}
.footer-bgimg02 {
  position: absolute;
  width: 20%;
  top: 0;
  right: 20%;
}
@media screen and (min-width: 900px) {
  .footer-bgimg02 {
    width: 10%;
    top: auto;
    bottom: 0;
    right: 10%;
    z-index: 1;
  }
}
.footer .copylight {
  text-align: center;
  margin: 0;
  margin-top: 60px;
}
@media screen and (min-width: 900px) {
  .footer .copylight {
    margin-top: 0;
  }
}

.main {
  width: 330px;
  margin: 0 auto;
  text-align: center;
  border: solid 8px;
  background-color: #FFF3D2;
  margin-bottom: 80px;
}
@media screen and (max-width: 500px) {
  .main {
    width: 400px;
  }
}
@media screen and (max-width: 650px) {
  .main {
    width: 500px;
  }
}
@media screen and (min-width: 800px) {
  .main {
    width: 700px;
  }
}

.tabs__ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 8px;
  padding-top: 25px;
}
.tabs__ul__li {
  width: 86px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 4px;
  border-left: solid 4px;
  border-right: solid 4px;
  border-radius: 15px 15px 0px 0px;
  font-size: 15px;
  line-height: 18px;
}
@media screen and (max-width: 500px) {
  .tabs__ul__li {
    width: 108px;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) {
  .tabs__ul__li {
    width: 121px;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) and (min-width: 800px) {
  .tabs__ul__li {
    width: 142px;
    padding: 3px;
  }
}

.tabs img {
  cursor: pointer;
  width: 30%;
}

/* ネストされたタブのスタイル */
.nested-tabs {
  background-color: #FCAA3B;
  width: 88%;
  margin: 0 auto;
  border: solid 4px;
  padding: 15px 0px 10px 0px;
  border-radius: 0px 0px 15px 15px;
}
@media screen and (max-width: 500px) {
  .nested-tabs {
    width: 89%;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) {
  .nested-tabs {
    width: 79%;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) and (min-width: 800px) {
  .nested-tabs {
    width: 68%;
  }
}
.nested-tabs p {
  padding: 4px 8px;
  border: 4px solid #000;
  border-radius: 9px;
  background: #fff;
}
@media screen and (min-width: 800px) {
  .nested-tabs p {
    padding: 10px 20px;
  }
}
.nested-tabs .active {
  color: #000;
  background: #9CFFF9;
  border-color: #FDF150;
}
.nested-tabs__text {
  width: fit-content;
  margin: 0 auto;
}
.nested-tabs__layout {
  display: flex;
  width: 84%;
  margin: 0 auto;
  justify-content: space-between;
}
@media screen and (max-width: 500px) {
  .nested-tabs__layout {
    width: 75%;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) {
  .nested-tabs__layout {
    width: 70%;
  }
}
.nested-tabs__layout .active {
  color: #000;
  background: #9CFFF9;
  border-color: #FDF150;
}

.nested-tabs img {
  cursor: pointer;
  margin: 4px;
  width: 28%;
}
@media screen and (min-width: 800px) {
  .nested-tabs img {
    width: 23%;
  }
}

/* コンテンツのスタイル */
.tab-content {
  display: none;
  margin-bottom: 70px;
}

.tab-content:first-child {
  display: block;
}

/* ネストされたコンテンツのスタイル */
.nested-content {
  display: none;
}
.nested-content .contentArea {
  width: 280px;
  margin: 0 auto;
  text-align: left;
  border: solid 4px;
  margin-top: 50px;
  box-shadow: 10px 10px #00FFE4;
  margin-bottom: 80px;
  background-color: #FFF3D2;
  position: relative;
  z-index: 10;
}
@media screen and (min-width: 800px) {
  .nested-content .contentArea {
    margin: 0;
    margin-top: 60px;
  }
}
@media screen and (max-width: 500px) {
  .nested-content .contentArea {
    margin-bottom: 100px;
    width: 330px;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) {
  .nested-content .contentArea {
    width: 360px;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) and (min-width: 800px) {
  .nested-content .contentArea {
    width: 40%;
  }
}
.nested-content .contentArea-first {
  width: 100%;
}
@media screen and (max-width: 390px) {
  .nested-content .contentArea-first {
    width: 280px;
  }
}
@media screen and (max-width: 390px) and (max-width: 500px) {
  .nested-content .contentArea-first {
    width: 330px;
  }
}
@media screen and (max-width: 390px) and (max-width: 500px) and (max-width: 650px) {
  .nested-content .contentArea-first {
    width: 360px;
  }
}
.nested-content .contentArea__imgArea__img {
  width: 100%;
  border-bottom: solid 4px;
  display: block;
}
.nested-content .contentArea__textArea {
  width: 260px;
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .nested-content .contentArea__textArea {
    width: 80%;
  }
}
.nested-content__flex {
  position: relative;
  position: relative;
  z-index: 100;
}
.nested-content__flex__img3 {
  position: absolute;
  bottom: -23%;
}
.nested-content__flex__img4 {
  position: absolute;
  right: 0;
  bottom: -23%;
}
.nested-content__flex__img2 {
  position: absolute;
  right: 0;
  top: 30%;
  z-index: 1;
}
.nested-content__flex__img2 img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .nested-content__flex {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .nested-content__flex {
    display: flex;
    justify-content: space-around;
  }
}

.main h1 {
  padding-top: 30px;
}
.main h1 img {
  width: 60%;
}

.header__logo img {
  width: 45%;
}

.humBtn {
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
@media screen and (min-width: 800px) {
  .humBtn {
    display: none;
  }
}

.humBtn__inner {
  position: relative;
}

.humBtn__title {
  width: 80px;
}

@media screen and (min-width: 960px) {
  .humBtn__title {
    width: 120px;
  }
}
.humBtn__title img {
  display: block;
  width: 100%;
  height: 100%;
}

.humBtn__nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 70vh;
  transform: translateX(100%);
  background-color: #FFF3D2;
  transition: ease 0.4s;
  border: solid 4px;
}

@media screen and (min-width: 960px) {
  .humBtn__nav {
    position: static;
    transform: initial;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: end;
    width: 50%;
  }
}
@media screen and (min-width: 960px) {
  .nav__items {
    width: 100%;
    display: flex;
    align-items: center;
    height: initial;
    justify-content: space-between;
  }
}
.nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

@media screen and (min-width: 960px) {
  .nav-items {
    padding-top: inherit;
    padding-bottom: inherit;
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}
.nav-items__item a {
  color: black;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
}

.nav-items__item:last-child a {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  .nav-items__item a {
    margin-bottom: 0;
  }
}
/* ハンバーガーメニュー */
.humBtn__hamburger {
  width: 48px;
  height: 100%;
}

.hamburger {
  background-color: #FFED00;
  border-color: transparent;
  z-index: 9999;
  right: 0;
  position: absolute;
  top: 20px;
  width: 65px;
  height: 65px;
  border: solid 4px;
  margin-right: 20px;
  box-shadow: -5px 5px #00FFE4;
}
@media screen and (max-width: 650px) {
  .hamburger {
    width: 80px;
    height: 80px;
  }
}

@media screen and (min-width: 960px) {
  .hamburger {
    display: none;
  }
}
.hamburger span {
  width: 100%;
  height: 4px;
  background-color: #000;
  position: relative;
  transition: ease 0.4s;
  display: block;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: 8px 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.humBtn__nav.active {
  transform: translateX(0);
}

.hamburger.active span:nth-child(1) {
  top: 12px;
  transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  top: -11px;
  transform: rotate(-45deg);
}

.header__logo a {
  display: inline-block;
  width: 45%;
  margin-left: 15px;
}
.header__logo a img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 650px) {
  .header__logo a img {
    width: 80%;
  }
}
@media screen and (max-width: 650px) and (min-width: 800px) {
  .header__logo a img {
    width: 65%;
    padding-top: 25px;
  }
}

.footerArea {
  background-color: #FFF500;
  height: 80vh;
  text-align: center;
  position: relative;
}
.footerArea__headerLogo {
  position: absolute;
  left: 5%;
  top: 5%;
  width: 40%;
}
.footerArea__headerLogo__a__img {
  display: block;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .footerArea__headerLogo__a__img {
    width: 90%;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) {
  .footerArea__headerLogo__a__img {
    width: 80%;
  }
}
@media screen and (max-width: 500px) and (max-width: 650px) and (min-width: 800px) {
  .footerArea__headerLogo__a__img {
    width: 70%;
  }
}
.footerArea__nav {
  padding: 0;
  padding-top: 150px;
}
.footerArea__nav__item {
  padding-bottom: 20px;
}
.footerArea__nav__item a {
  color: #000000;
  font-size: 22px;
}
.footerArea__logo {
  position: absolute;
  right: 5%;
  bottom: 5%;
}
.footerArea__logo__link img {
  width: 100%;
}
@media screen and (max-width: 650px) {
  .footerArea__logo {
    width: 20%;
  }
}
@media screen and (max-width: 650px) and (min-width: 800px) {
  .footerArea__logo {
    width: 15%;
  }
}
.footerArea__logo__link__img {
  display: block;
}

#back_img1 {
  background-image: url(../img/sp-img/sp-1.png);
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 98%;
  padding-bottom: 1px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 900px) {
  #back_img1 {
    width: 40%;
  }
}/*# sourceMappingURL=style.css.map */